@import 'shop.css';
@import 'phone.css';
@import 'hotel.css';
@import 'gift.css';
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
/** 设置默认字体 **/
body,
ul,
ol {
  list-style: none;
}
/** 重置文本格式元素 **/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
/* 重置, 减少对行高的影响 */
sub {
  vertical-align: text-bottom;
}
/** 重置表单元素 **/
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 HTML5 元素 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}
mark {
  background: #ff0;
}
/* 设置placeholder的默认样式 */
:-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
::-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #ddd;
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: #ddd;
  opacity: 1;
}
html {
  font-size: 13.333vw;
}
body {
  background-color: #F8F8F8;
}
img {
  vertical-align: top;
}
.headerCtrl {
  width: 100%;
  height: 0.39rem;
  position: relative;
  background-color: #fff;
}
.headerCtrl > div {
  width: 0.59rem;
  height: 0.23rem;
  border: 0.01rem solid #dfdfdf;
  border-radius: 0.02rem;
  line-height: 0.23rem;
  text-align: center;
  font-size: 0.09rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
  float: right;
  margin-top: 0.07rem;
  cursor: pointer;
}
.headerCtrl .sub {
  background: #2d72e5;
  color: #fff;
  margin-right: 0.47rem;
  margin-left: 0.09rem;
}
.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box #comlist {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  position: relative;
}
.box #comlist .module {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  overflow: hidden;
}
.box #comlist .module > .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #333;
}
.box #comlist > .moduleType {
  width: 0.41rem;
  height: 3.2rem;
  overflow-x: hidden;
  background-color: #fff;
  margin-top: 0.01rem;
}
.box #comlist > .moduleType > .list {
  width: 100%;
  text-align: center;
  font-size: 0.05rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
  cursor: pointer;
  margin-top: 0.12rem;
}
.box #comlist > .moduleType > .list > div:nth-child(1) {
  font-size: 0.1rem;
}
.box #comlist > .moduleType .chose {
  color: #2d72e5;
}
.box #comlist > .moduleBox {
  width: 340px;
  height: 3.2rem;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
  margin-top: 0.01rem;
  margin-left: 0.01rem;
  margin-right: 0.01rem;
  transform-origin: 0% 0%;
}
.box > #phoneBox > .tab {
  width: 4rem;
  height: 0.35rem;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  margin-top: 0.01rem;
}
.box > #phoneBox > .tab > div {
  width: 0.23rem;
  line-height: 0.35rem;
  text-align: center;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  font-size: 0.09rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
  transition: all 0.2s ease;
}
.box > #phoneBox > .tab > div:nth-child(1) {
  border-bottom: 2px solid #2D72E5;
}
.box > #phoneBox #phone {
  width: 340px;
  height: 640px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 0.01rem;
  overflow-x: hidden;
  position: relative;
}
.box #msg {
  width: 1.56rem;
  height: 640px;
  background-color: #fff;
  margin-top: 0.01rem;
  margin-left: 0.01rem;
}
.box #msg > .msgBox {
  width: 100%;
  height: 590px;
  overflow-x: hidden;
  font-size: 0.09rem;
}
.box #msg > #sub {
  width: 100%;
  height: 50px;
  background: #2d72e5;
  line-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 0.09rem;
}
#dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#dialog > .zzc {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
#dialog > .dialogContent {
  width: 350px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dialog > .dialogContent > .tabList {
  width: 100%;
  height: 350px;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}
#dialog > .dialogContent > .tabList > .tab {
  width: 50px;
  height: 70px;
  margin-left: 14px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
#dialog > .dialogContent > .tabList > .tab > .cover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#dialog > .dialogContent > .tabList > .tab > .cover > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#dialog > .dialogContent > .tabList > .chose {
  background-color: #9bb89b;
  color: #fff;
}
#dialog > .dialogContent > .content {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  line-height: 150px;
  text-align: center;
  font-size: 16px;
}
#dialog > .dialogContent > .button {
  width: 100%;
  height: 50px;
  display: flex;
  border-top: 1px solid #eaeaea;
}
#dialog > .dialogContent > .button > div {
  width: 50%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
#dialog > .dialogContent > .button > div:nth-child(1) {
  border-right: 1px solid #eaeaea;
}
.MainLine {
  width: 100%;
  height: 5px;
  background-color: #eaeaea;
}
